:root {
    --main-color: #2AFAB3;
    --secondary-color:#2afab562;
    --font-color: #292929;
}

* {
    margin: 0;
    border: 0;
}

header {
    max-height: fit-content;
    width: 100%;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
}

/* SIDE TEXT */

.section_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 100px 0;
}

#profile {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
}

/* .name_presentation {
    margin-left: 100px;
} */

h1 {
    text-decoration: none;
    font-size: 3.35rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Barlow', sans-serif;
    color: var(--font-color);
}

.desc {
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
    width: 400px;
    text-align: justify;
    line-height: 27px;
}

/* SECTION 2 */

section_2 {
    display: flex;
    justify-content: center;
    font-family: 'barlow', sans-serif;
    background-color: var(--main-color);
    padding:0.8rem;
}

.alternance_annonce {
    height: fit-content;
}

.list {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: var(--font-color);
    line-height: 50px;
}


/* h1, .date, ul {
    font-family: 'Barlow', sans-serif;
    color: var(--font-color);
}

h2, .formation_place {
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
} */

/* .date span{
    padding: 0rem 0.5rem 0rem 0.5rem;
    border: 1px var(--main-color) solid;
    border-radius: 10px;
    background-color: var(--main-color);
} */

.section_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'barlow', sans-serif;
    color: var(--font-color);
}

.alternance_left, .alternance_right {
    gap: 100px;
    padding: 100px 0;
    position: relative;
    width: 400px;
}

/* .alternance_right {
    padding-left: 100px;
} */

h2.alternance {
    margin-bottom: 30px;
}

p.alternance {
    font-size: 1.5rem;
}

/* CURSUS */

.cursus_name {
    padding: 0.5rem;
}

.cursus_2 {
    padding-left: 1rem;
}

.date {
    font-weight: 200;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
    padding: 0.1rem;
}

.formation_place {
    color:#666565;
    font-style: italic;
    font-weight: 200;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
}

.cursus_list {
    list-style: none;
    font-weight: 200;
    line-height: 2rem;
}

ul li::before {
    content: "\2022";
    color: var(--main-color);
    display: inline-block;
    width: 1em;
    margin-left:-1.5em;
}

/* FOOTER */

mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, var(--secondary-color) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}
  
@-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
}
  
@keyframes highlight {
    to {
      background-position: 0 0;
    }
}

footer {
    max-height: fit-content;
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem;
    bottom: 0;
}